* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  header {
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .header {
    background-image: url(img/Rectangle-2.png);
    background-position: center center;
    height: 900px;
    background-repeat: no-repeat;
  }
  
  .nav-menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-menu a, .fake-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 100px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
  }
  
  .fake-link {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: none;
  }
  
  .nav-menu a:hover {
      border-color: #FFFFFF;
      background-color: rgba(255, 255, 255, 0.2);
  }
  
  .header-nav-wrapper {
    border-bottom: 1px solid #A1A1A1;
    margin-bottom: 220px;
  }
  
  .sub-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .text {
      flex-direction: column;
      display: flex;
      align-items: center;
  }
  
  .text h1 {
    max-width: 829px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 350px;
  }

  .containera {
    padding: 110px 0;
    max-width: 1113px;
    margin: 0 auto;
  }

  .content {
    flex-direction: column;
    display: flex;
    align-items: center;

  }

  .content h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    max-width: 739px;
    padding-bottom: 50px;

    color: #323232;
  }

   .content p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 70px;


    color: #999999;
    max-width: 730px;
  }

  .float1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contentb {
    display: flex;
    flex-direction: row;
    padding-bottom: 55px;
  }

  .createa {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    margin-right: 17px;
    
    position: relative;
  
  }

  .createb {
    width: 90px;
    height: 90px;
    margin: 8px 8px;
    border-radius: 50%;

    border: 1px solid #4985FF;
   
  
  }

  .imageb {
    padding: 25px;
    box-sizing: border-box;


  }

  .float1 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 12px;

    color: #000000;
  }

  .float1 p {
    max-width: 226px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: #999999;
   }

   .buttontwo {
     display: flex;
     justify-content: center;
     align-items: center;
   }


  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    }


    .block3 {
      padding: 100px 0;
      background-color: #F6F6F8;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid transparent;
      border-color: #E0E0E0;
     
  
    }
  

  .textd {
    padding-top: 52px;
    margin-right: 121px;
  
  }

  .textd h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    max-width: 424px;
    margin-bottom: 40px;

    color: #323232;
  }

  .textd p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    max-width: 489px;
    margin-bottom: 30px;

    color: #999999;
  }

  .textd a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;


    color: #4985FF;
  }

  .image3 img {
    width: 500px;
    height: 400px;
    border-radius: 30px;
  }

  .block4 {
    padding: 80px 0;
    background-color: #F6F6F8;
  
    
  }


  .maincontent {
    max-width: 920px;
    padding: 0 500px;
    display: flex;
    justify-content: space-between;
  }

  .content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
  }


  .content2 img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding-top: 10px;
    
  }

  .onep {
   
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 53px;
    


    color: #000000;
  }

 
 
  .project {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    
    

    color: #999999;
  }

  .part2 {
    max-width: 920px;
    padding: 0 500px;
    display: flex;
    justify-content: space-between;
  }


  .pink-block {
    padding: 85px 0;
    position: relative;
  }
  
  .pink-block .container2 {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    
  }
  
  .violet-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 490px;
    width: 100%;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  }

  .cont1 {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    
    
  }

  .floattwo p {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 70px;
    margin-right: 350px;
    max-width: 540px;

    color: #FFFFFF;
    
  }
  
  .button2 {
    display: inline-block;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .container2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
    border-bottom: 1px solid transparent;
    border-color: #E0E0E0;

  }

  .container2 img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
  
  }
    

  .container2 h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #4985FF;
    margin-bottom: 30px;
  }

  .container2 p {
    max-width: 350px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;

    color: #999999;
  }

  .block5 {
    padding: 100px 0;
    background: #F6F6F8;
  }

  .bl5 {
    max-width: 1100px;
    margin: 0 auto;

  }

  .block5one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .block5one h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 50px;

    color: #000000;

  }

  .block5one p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 730px;
    margin-bottom: 70px;

    
    color: #999999;
  }

  .block5img{
   
    display: flex;
    justify-content: space-between;
    
    
    
  }
  .block5img  img{
    width: 255px;
    height: 255px;
    margin-bottom: 50px;

  }

  .but3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button3 {
    display: inline-block;
    width: 200px;
    height: 45px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }